<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>

<head th:replace="~{layout/layout :: head}">

	<style>
		form {
			max-width: 500px;
			/* Ancho máximo del formulario */
			margin: auto;
			/* Centra el formulario en la pantalla */
			background-color: #fff;
			/* Fondo blanco para el formulario */
			padding: 40px;
			/* Espacio interno del formulario */
			border-radius: 30px;
			/* Bordes redondeados */
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			/* Sombra ligera */
		}
	</style>
</head>

<body>
	<header th:replace="~{layout/layout :: header}"></header>

	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-5 shadow p-3 mb-5 bg-light rounded">
				<h2 class="text-center" th:text="${titulo}"></h2>
				<form th:action="'/planes/nuevo_plan'" th:object="${plan}" method="post" class="mx-auto p-2">

					<div class="mb-2">
						<label class="col-form-label col-form-label" for="nombre">Nombre del plan</label>
						<div class="col-auto">
							<input class="form-control form-control-sm" type="text" id="nombre" th:field="*{nombre}">
						</div>
						<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="alert alert-danger">
						</div>

					</div>

					<div class="mb-2">
						<label class="col-form-label" for="dias">Días por semana</label>
						<div class="col-auto">
							<input class="form-control form-control-sm" type="number" id="dias" th:field="*{dias}">
						</div>
						<div th:if="${#fields.hasErrors('dias')}" th:errors="*{dias}" class="alert alert-danger"></div>
					</div>

					<div class="mb-2">
						<label class="col-form-label col-form-label" for="precio">Monto de cuota mensual</label>

						<div class="input-group mb-3">
							<span class="input-group-text" id="cash">$</span>
							<input class="form-control form-control-sm" type="text" id="cash" th:field="*{precio}">
						</div>

						<div class="col-md-6 mt-2 mt-md-0">
							<div th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"
								class="alert alert-danger">
							</div>
						</div>
					</div>
					<div class="d-grid gap-2 col-6 mx-auto mt-4">
						<input type="submit" th:value="${tituloBoton}" class="btn btn-dark">
					</div>

				</form>
			</div>
		</div>
	</div>

	</div>
	<footer th:replace="~{layout/layout :: footer}"></footer>
</body>

</html>